* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
}

.logo {
    max-width: 250px;
    padding-top: 2rem;
}

.card {
    width: 80px;
    height: 120px;
    cursor: pointer;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid #ffffff;
    
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    perspective: 1000px; /* Define perspective for 3D effect */
}

.card-img-top {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #bdc3c7;
}

.fieldset {
    display: none;
}

.fieldset.active {
    display: block;
}

@media (max-width: 576px) {
    .card {
        width: 100%;
        height: auto;
    }
    .card-img-top {
        height: auto;
    }
}

h2 {
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    color: #A3238F;
    font-weight: 700;
    text-align: center;
    padding-left: 1rem;
    line-height: 1.0 !important;
}

.container {
    width: 95%;
    padding-right: 20px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
}

.col-6 {
    flex: 0 0 41%;
    max-width: 50%;
}

.mt-5, .my-5 {
    margin-top: .8rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.text-center {
    text-align: center !important;
    margin-left: 1rem;
}

#scoreTable {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#scoreTable th, #scoreTable td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#scoreTable th {
    background-color: #f2f2f2;
    color: #333;
}

#scoreTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#scoreTable tbody tr:hover {
    background-color: #f2f2f2;
}

#scoreTable tbody tr:nth-child(1) {
    background-color: #a3238f;
    color: #fff;
}

#scoreTable tbody tr:nth-child(2) {
    background-color: #df1370;
    color: #fff;
}

#scoreTable tbody tr:nth-child(3) {
    background-color: #ffc107;
    color: #333;
}

.alert-box {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    display: none;
}

.alert-box.success {
    background-color: #4CAF50;
}

.alert-box.error {
    background-color: #a3238f;
}

.alert-box .close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-box .close-btn:hover {
    color: black;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.button {
    display: block;
    width: 80%;
    margin: 20px auto; /* Center horizontally and add top margin */
    text-align: center;
    border-radius: 2rem;
    background-color: #A3238F;
    border-color: #ddd;
    
    
}

.button a {
    text-decoration: none;
    color: white;
    display: block; /* Make the anchor take the full width of the button */
}

.btn-secondary {
    align-items: center;
    width: 90%;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #df1370;
    /* border-color: #df1370; */
    border-radius: 1.5rem;
    padding-left: 2rem;
    /* color: #000; */
}

#fieldset3 {
    display: none;
}

#fieldset3.active {
    display: block;
}

.pose-details {
    display: flex;
    align-items: center;
}

.pose-image {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    margin-right: 20px; /* Adjust spacing */
}

.pose-info {
    flex: 1;
}

.pose-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.pose-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

/* Add this to style.css */

/* Corrected spelling */
.card.highlighted {
    border: .01rem solid #f44336;
    box-shadow: 0px 0 15px #ffaeae;
}

/* Corrected ID selector */
#fieldset3 .row {
    justify-content: space-between;
}

/* Corrected ID selector */
#fieldset3 .col-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
}


.pose-image {
    
    height: auto;
    margin-right: 20px; /* Adjust spacing */
}
#poseName{
    padding-top: 2rem;
    color: #A3238F;
    font-weight: bolder;
}

#poseImage { 
    padding-top: 2rem;
}

.btn btn-primary next{
    width: 90%;
}


.alert-box {
    text-align: center;
    position: fixed;
    width: 15rem;
    height: 15rem;
    top: 10rem;
    left: 50%;
    font-size: 1.5rem;
    transform: translateX(-50%);
    padding: 5rem 1rem;
    background-color: #f44336;
    color:  #ffffff;
    border-radius: 10px;
    display: none;
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert-box.success {
    background-color: #068c44;
    
    border: solid 1px #f2f2f2;
}

.alert-box.error {
    background-color: #ffab23;
    border: solid 1px #f2f2f2;
}

.alert-box .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(237, 20, 20);
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

.alert-box .close-btn:hover {
    color: black;
}

.btn-primary {
 width: 80%;
 border-radius: 2rem;
    color: #fff;
    background-color: #df1370;
    border-color: #df1370;
}